/* Help & Support Section Styling */
.help-card, .contact-card, .troubleshoot-card {
    margin-top: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    border-radius: 8px; /* Smooth corners */
    background: #fff; /* White background */
  }
  
  .help-card h3, .contact-card h3, .troubleshoot-card h3 {
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }
  
  .help-card p, .contact-card p, .troubleshoot-card p {
    font-size: 14px;
    color: #666;
  }
  
  /* FAQ Styling */
  .help-card ion-item {
    --background: transparent;
    --inner-padding-end: 16px;
    margin-top: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .help-card ion-item:hover {
    background-color: #f1f1f1;
  }
  
  .help-card ion-icon {
    font-size: 24px;
    color: #5a5a5a;
  }
  
  .help-card ion-label {
    font-size: 16px;
    color: #333;
  }
  
  .help-card ion-button {
    --background: transparent;
    --color: #333;
    font-size: 14px;
    padding: 4px 12px;
  }
  
  .help-card ion-button:hover {
    --background: #fed63f;
    --color: #fff;
    transform: scale(1.05);
  }
  
  /* Contact Section Styling */
  .contact-card ion-item {
    --background: transparent;
    --inner-padding-end: 16px;
    margin-top: 15px;
    border-bottom: 1px solid #ddd;
  }
  
  .contact-card ion-item:hover {
    background-color: #f1f1f1;
  }
  
  .contact-card ion-icon {
    font-size: 24px;
    color: #5a5a5a;
  }
  
  .contact-card ion-label {
    font-size: 16px;
    color: #333;
  }
  
  .contact-card ion-button {
    --background: transparent;
    --color: #333;
    font-size: 14px;
    padding: 4px 12px;
  }
  
  .contact-card ion-button:hover {
    --background: #fed63f;
    --color: #fff;
    transform: scale(1.05);
  }
  
  /* Troubleshooting Section Styling */
  .troubleshoot-card ion-item {
    --background: transparent;
    --inner-padding-end: 16px;
    margin-top: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .troubleshoot-card ion-item:hover {
    background-color: #f1f1f1;
  }
  
  .troubleshoot-card ion-label {
    font-size: 14px;
    color: #555;
  }
  
  /* Header Styling */
  ion-header {
    --background: #f9f9f9;
  }
  
  ion-toolbar {
    --background: #fed63f;
  }
  
   
  ion-title {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-right: 50px;
  }
  
  ion-buttons ion-button {
    --background: transparent;
    --color: #333;
  }
  
  ion-buttons ion-button:hover {
    --color: #fed63f;
  }
  