<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" routerLink="/profile">
      <ion-button color="dark">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>About Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- About Us Section -->
  <ion-card class="about-us-card">
    <ion-card-header>
      <ion-card-title>Our Story</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p></p>
    </ion-card-content>
  </ion-card>

  <!-- Mission Section -->
  <ion-card class="mission-card">
    <ion-card-header>
      <ion-card-title>Our Mission</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p></p>
    </ion-card-content>
  </ion-card>

  <!-- Vision Section -->
  <ion-card class="vision-card">
    <ion-card-header>
      <ion-card-title>Our Vision</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p></p>
    </ion-card-content>
  </ion-card>

  <!-- Our Team Section -->
  <ion-card class="team-card">
    <ion-card-header>
      <ion-card-title>Meet Our Team</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/image/user-icon.jpg" alt="Team Member 1">
          </ion-avatar>
          <ion-label>
            <h3>Jobelle J. Aguilar</h3>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/image/user-icon.jpg" alt="Team Member 2">
          </ion-avatar>
          <ion-label>
            <h3>Christine Kate S.P. Lim</h3>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/image/user-icon.jpg" alt="Team Member 3">
          </ion-avatar>
          <ion-label>
            <h3>Hanna Jahmel H. Mata</h3>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/image/user-icon.jpg" alt="Team Member 3">
          </ion-avatar>
          <ion-label>
            <h3>Allyssa Ghail C. Sagun</h3>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/image/user-icon.jpg" alt="Team Member 3">
          </ion-avatar>
          <ion-label>
            <h3>John Andrei V. Sanopo</h3>
          </ion-label>
        </ion-item>

      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>
