<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" routerLink="/profile/account">
      <ion-button color="dark">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Payment Method</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-title style="text-align: center; margin: 16px 0"
      >Edit Payment Method</ion-card-title
    >
    <ion-list>
      <!-- Credit Card -->
      <ion-item>
        <ion-icon name="card" slot="start"></ion-icon>
        <ion-label>
          <h3>Credit Card</h3>
          <p *ngIf="!isEditing.creditCard">{{ creditCardNumber }}</p>
          <ion-input
            *ngIf="isEditing.creditCard"
            [(ngModel)]="creditCardNumber"
            placeholder="Enter Number"
          ></ion-input>
        </ion-label>
        <ion-button slot="end" (click)="toggleEdit('creditCard')">
          {{ isEditing.creditCard ? 'Save' : 'Edit' }}
        </ion-button>
      </ion-item>

      <!-- PayPal -->
      <ion-item>
        <ion-icon name="logo-paypal" slot="start"></ion-icon>
        <ion-label>
          <h3>PayPal</h3>
          <p *ngIf="!isEditing.paypal">{{ paypalNumber }}</p>
          <ion-input
            *ngIf="isEditing.paypal"
            [(ngModel)]="paypalNumber"
            placeholder="Enter Number"
          ></ion-input>
        </ion-label>
        <ion-button slot="end" (click)="toggleEdit('paypal')">
          {{ isEditing.paypal ? 'Save' : 'Edit' }}
        </ion-button>
      </ion-item>

      <!-- GCash -->
      <ion-item>
        <ion-icon name="cash-outline" slot="start"></ion-icon>
        <ion-label>
          <h3>GCash</h3>
          <p *ngIf="!isEditing.gcash">{{ gcashNumber }}</p>
          <ion-input
            *ngIf="isEditing.gcash"
            [(ngModel)]="gcashNumber"
            placeholder="Enter Number"
          ></ion-input>
        </ion-label>
        <ion-button slot="end" (click)="toggleEdit('gcash')">
          {{ isEditing.gcash ? 'Save' : 'Edit' }}
        </ion-button>
      </ion-item>

      <!-- Bank Transfer -->
      <ion-item>
        <ion-icon name="business-outline" slot="start"></ion-icon>
        <ion-label>
          <h3>Bank Transfer</h3>
          <p *ngIf="!isEditing.bankTransfer">{{ bankTransferNumber }}</p>
          <ion-input
            *ngIf="isEditing.bankTransfer"
            [(ngModel)]="bankTransferNumber"
            placeholder="Enter Number"
          ></ion-input>
        </ion-label>
        <ion-button slot="end" (click)="toggleEdit('bankTransfer')">
          {{ isEditing.bankTransfer ? 'Save' : 'Edit' }}
        </ion-button>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
